.buton{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}


.buton button{
    font-size: 25px;
    margin: 5px;
}
.buton .butondiv .genis{
    width: 75px;
}
.buton .butondiv .geniss{
    width: 103px;
}
.buton .inputt{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 320px;
    color: black;
}

.geni button {
    width: 75px;
}

.butstyle {
    background-color: orange;
    color: white;
}